form {
  margin: 10px 10px 30px 0;
  border: #a5bdfd;
}

a {
  color: #a5bdfd;
  text-decoration: none;
}

.weather-app {
  margin: 100px auto;
  max-width: 800px;
  font-family: "Lato", sans-serif;
  color: #5a6275;
}

.weather-frame {
  border: 2px solid #a5bdfd;
  border-radius: 5px;
  padding: 30px;
  box-shadow: 1px 1px 10px #b7b7b7;
}

.default-city-1 {
  padding-right: 10px;
}

.default-city-3 {
  padding-left: 10px;
}

.search-button {
  font-size: 20px;
  color: #5a6275;
  background-color: #a5bdfd;
  border: none;
  border-radius: 10px;
  padding: 5px 20px;
  box-shadow: 1px 1px 10px #b7b7b7;
  transition: all 200ms ease-in-out;
}
.my-location-button {
  background-color: #5a6275;
  font-size: 20px;
  color: #fff;
  border: none;
  border-radius: 10px;
  padding: 5px 20px;
  box-shadow: 1px 1px 10px #b7b7b7;
  transition: all 200ms ease-in-out;
}

.main-window {
  border: 1px solid #a5bdfd;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 30px;
  /* box-shadow: 1px 1px 10px #b7b7b7; */
}

.main-weather {
  padding-top: 30px;
  text-align: center;
}

.main-weather-icon {
  position: relative;
  top: -15px;
  font-size: 50px;
  margin-right: 10px;
}

.main-weather-temperature {
  font-size: 50px;
}

.main-weather .units {
  position: relative;
  top: -25px;
  font-size: 15px;
}

.active {
  color: #5a6275;
  font-weight: 600;
  cursor: default;
}

.wind-hum {
  font-size: 20px;
  text-align: right;
  padding-top: 30px;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: #5a6275;
}
/* .next-days { */
/* border-right: 2px solid #a5bdfd; */
/* } */

.forecast-day {
  font-size: 18px;
}
.forecast-temperatures {
  font-size: 13px;
}

.forecast-temperature-min {
  opacity: 0.6;
}

.next-days:last-child {
  border: none;
}

.github-link {
  margin-top: 50px;
}

.search-button:hover {
  background-color: rgba(165, 189, 253, 0.7);
  color: #5a6275;
}
.my-location-button:hover {
  background-color: rgb(90, 98, 117, 70%);
}

.active:hover {
  color: #5a6275;
  text-decoration: none;
}
